<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Easyship\Shipping\Api\RegisterInterface" type="Easyship\Shipping\Model\Register"/>
    <preference for="Easyship\Shipping\Api\ShipOrderInterface" type="Easyship\Shipping\Model\ShipOrder"/>
    <preference for="Magento\Ups\Model\Carrier" type="Easyship\Shipping\Model\Carrier" />

    <type name="Easyship\Shipping\Model\Logger\Handler">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>
    <type name="Easyship\Shipping\Model\Logger\Logger">
        <arguments>
            <argument name="name" xsi:type="string">easyshipLogger</argument>
            <argument name="handlers"  xsi:type="array">
                <item name="system" xsi:type="object">Easyship\Shipping\Model\Logger\Handler</item>
            </argument>
        </arguments>
    </type>

</config>